<form [formGroup]="priceListForm">
  <div>
    <h1>Price List Id: {{ data.item.priceListId }}</h1>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Price List Name</mat-label>
    <input
      matInput
      [value]="newPriceListNameCtrl.value"
      [formControl]="newPriceListNameCtrl"
      pattern="[a-zA-Z ]*"
    />
    <mat-error *ngIf="newPriceListNameCtrl.invalid"
      >Invalid Name, Should Be At Least 10 Alphabetic Characters</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>extErpPriceListIDCtrl</mat-label>
    <input
      matInput
      type="number"
      [value]="extErpPriceListIDCtrl.value"
      [formControl]="extErpPriceListIDCtrl"
    />
  </mat-form-field>
</form>
<button mat-raised-button color="primary" (click)="onUpdate()">submit</button>
