<div class="search-box">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      [value]="searchFormCtrl.value"
      [formControl]="searchFormCtrl"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSearchSubmitted()">
    Search
  </button>
</div>

<div *ngFor="let item of priceList" class="grid-container">
  <div class="grid-item">
    {{ item.priceListId }}
  </div>
  <div class="grid-item">
    {{ item.priceListName }}
  </div>
  <div class="grid-item">
    {{ item.extErpPriceListID }}
  </div>
  <div style="margin: auto; height: 100%">
    <button
      style="height: 100%"
      mat-raised-button
      color="primary"
      (click)="openDialog(item)"
    >
      Edit
    </button>
  </div>
</div>
